.zprava-item {
  display: flex;
}

.image-box {
  display: flex;
  flex-direction: column;
}

.zprava-box {
  display: flex;
  flex-direction: column;
}

.zprava-image {
  height: auto; 
  width: auto; 
  max-width: 200px; 
  max-height: 200px;
}

.zprava-link {
  font-family: "aileron", sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: .4px;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 5px;
  margin: 0 10px;
}

.zprava-text {
  margin: 0 10px;
}